@model PortalGalvaniMobile.Models.Portal
<footer>
    <div class="bg"></div>
    <p>
        @Resources.Footer.CentralAtendimento<br />
        <a class="telefone" href="call:+@Model.Configuracao.ContatoTelefonePrincipal.Replace(" ","").Replace("-","").Replace("(","").Replace(")","")">@Model.Configuracao.ContatoTelefonePrincipal</a>
    </p>
    <p>
        @Resources.Footer.HorarioAtendimento1
        <br />
        @Resources.Footer.HorarioAtendimento2
    </p>
    <p>
        <img src="@Url.Content("~/")assets/imgs/Logo-rodape.png" title="Logo Galvani Engenharia" />
    </p>
    <p>
        @Resources.Footer.Slogan1 &nbsp; @Resources.Footer.Slogan2
    </p>
    <br />
    <a href="http://site.galvaniengenharia.com.br/?VersaoDesktop=" style="text-decoration: none; color: white; border: 1px solid; padding: 1px 10px; border-radius: 6px; font-size: 10px;">versão para desktop</a>
</footer>